// @Mixin Retina Sprite Sass
// ======================================================

//
// É nescessário criar as pastas para as versao de baixa e alta qualidade.
//

$space: 20px;
$sprites: sprite-map("sprites/*.png", $spacing: $space);
$sprites2x: sprite-map("sprites2x/*.png", $spacing: $space * 2);


// usage: @include create-sprite(name_sprite_file);
@mixin create-sprite($name, $dimensions: true, $pad: 0, $sprites: $sprites) {
    .#{$name} {
        background-position: sprite-position($sprites, $name, -$pad, -$pad);
    
        @if ($dimensions == true) {
            @include sprite-dimensions($sprites, $name);
        }
    
        @if ($pad > 0) {
            padding: $pad
        }
    }
}


.s {
    @include inline-block();
    
    background-image: sprite-url($sprites);

    @media (min--moz-device-pixel-ratio: 1.5),
    (-webkit-min-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx),
    (min-resolution: 144dpi) {
        @include background-size(ceil(image-width(sprite-path($sprites2x)) / 2) auto);
        background-image: sprite-url($sprites2x);
    }
}
